<template ngFor let-chapter let-i="index" [ngForOf]="chapters">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    {{i}}
                    <h3>{{ chapter.name }}</h3>
                    <h5 class="text-muted">Executive chair {{ chapter.chair }}</h5>
                    <p>{{ chapter.shortDescription }}</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>
</template>