<div class="row">
    <template ngFor let-chapter let-i="index" [ngForOf]="chapters">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail chapter-thumbnail">
                <div class="caption">
                    <h3 [routerLink]="['/chapters/' + chapter.name]">{{ chapter.name }}</h3>
                    <h5 class="text-muted">Executive chair {{ chapter.chair }}</h5>
                    <p>{{ chapter.shortDescription }}</p>    
                    <div  style="text-align: right">
                        <a [routerLink]="['/chapters/' + chapter.name]">Visit chapter site</a>
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>