<div class="jumbotron">
    <div class="row">
        <div class="col-sm-3">
            <img [src]="largeLogo" class="jumbo-logo" />
        </div>
        <div class="col-md-9">
            <h3>Welcome to LRIG</h3>
            <p class="jumbo-description">
                The LRIG mission is to provide and facilitate instruction for both self-development and the benefit of the laboratory automation community.  To do this, we:
                Provide physical and virtual meeting places for scientists, engineers and academics interested in furthering their careers and the field of laboratory automation.
                Facilitate communication among users and providers of laboratory automation.
            </p>
            <ul>
                <li>Provide a platform to encourage an open discussion of any new automation technologies that can be beneficial to the laboratory automation community.</li>
                <li>Share current best practices and experiences in the design and implementation of laboratory automation.</li>
                <li>Encourage members to actively contribute, via the use of web and e-mail based bulletin boards (Discussion Mailing Lists).</li>
                <li>Evaluate new technologies / instruments and share our findings at regional meetings and with on-line presentations archive.</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-8">
        <h3>Upcoming events here</h3>
    </div>
    <div class="col-sm-4">
        <h3>Chapters list here</h3>
    </div>
</div>